{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "semi": [1, "never"],
    "max-len": [1, 80],
    "arrow-parens": [2, "as-needed"]
  }
}
