{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
}
